* {
  margin: 0;
  padding: 0;
}

body {
  background-color: darkgray;
}

header {
  margin-top: 60px;
  text-align: center;
  gap: 50px;
}

header a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
  background-color: white;
  padding: 30px 50px;
  border-radius: 10px;
  font-size: 17px;
}

header a:hover {
  color: white;
  filter: brightness(120%);
}

.main1 button {
  cursor: pointer;
  transition: 0.4s;
}

.main1 button:hover {
  transform: scale(1.1);
  border-radius: 20px;
}

.q1 {
  background-color: teal;
}

.q2 {
  background-color: firebrick;
}

.q3 {
  background-color: forestgreen;
}

.q4 {
  background-color: steelblue;
}

.q5 {
  background-color: sienna;
}

.q6 {
  background-color: indigo;
}

main {
  display: flex;
  margin-top: 80px;
  justify-content: center;
}

.main1 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.main-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-img1 {
  position: absolute;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.b1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  background-color: grey;
  opacity: 0.8;
  cursor: pointer;
  margin-right: 60px;
}

.b1:hover {
  filter: blur(2px);
}

.b2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  background-color: grey;
  opacity: 0.8;
  cursor: pointer;
  margin-left: 60px;
}

.b2:hover {
  filter: blur(2px);
}

.main1 button {
  width: 170px;
  height: 80px;
  transition: 0.4s;
  border: 0;
  background-color: red;
  color: white;
  font-size: 15px;
}

.main2 {
  display: flex;
  flex-direction: column;
}

.main2 img {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-self: center;
  width: 710px;
  height: 250px;
}

.main-in-img h1 {
  font-weight: 200;
  color: firebrick;
}

.main-in-img p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: blueviolet;
}

.main-in-img button {
  width: 70px;
  height: 30px;
  transition: 0.4s;
  border: 0;
  background-color: green;
  color: white;
  font-size: 10px;
  cursor: pointer;
}

.main-in-img button:hover {
  transform: scale(1.1);
}

.main3 {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
  color: white;
}

.main3 div {
  display: flex;
  width: 300px;
  height: 100px;
  text-align: center;
  align-items: center;
}

.main3 div p {
  display: flex;
  text-align: center;
  align-items: center;
}

.w1 {
  background-color: rgb(170, 170, 98);
}

.w2 {
  background-color: blue;
}

.main4 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: white;
}

.main4 h1 {
  font-weight: 200;
}

footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
  color: white;
}

.footer1:hover {
  transform: rotate(4deg);
}

.footer2:hover {
  transform: translateY(-40px);
}

.footer3:hover {
  transform: rotate(-4deg);
}

#tel {
  width: 40px;
  height: 40px;
}

.footer1 {
  display: flex;
  width: 250px;
  background-color: green;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transition: 0.6s;
  cursor: pointer;
}
.footer2 {
  display: flex;
  width: 255px;
  height: 135px;
  background-color: blue;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transition: 0.6s;
  cursor: pointer;
}
.footer3 {
  display: flex;
  width: 255px;
  height: 135px;
  background-color: red;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transition: 0.6s;
  cursor: pointer;
}
